body {
    margin: 0;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
    --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time))
}

nav {
    background-color: rgb(0, 61, 92);
    color: white;
    animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: inherit;
    text-decoration: none; /*usuwa dekoracje z tekstu (w tym przypadku podkreślenie) */
}

nav li {
    list-style: none; /* ususwa kropki przy liście */
    padding: 10px;
    margin: 0 10px;
    font-size: 3em;
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards; /* wszystkie właściwości przy 100% będą takie same jak element li jest zapisany */
    transform: scale(0); /* dzięki temu tekst nie pojawia się a następnie robi animację, tylko pojawia się gdy animacja zaczyna się*/
}

nav li:first-child {
    animation-name: nav-first-link-load; /* odnosi się tylko do pierwszego dziecka (sekcja Home) aby wysuwał się z lewej strony zamiast z góry tak jak sekcja About */
    transform: translateX(-1000%);
}

nav li:last-child {
    animation-name: nav-last-link-load; /* robi to samo co wyżej tylko, że odnosi się do ostatniego dziecka (sekcja Contact) */
    transform: translateX(1000%);
}

nav li:hover {
    background-color:#ffffff44;
}

main {
    padding: 30px;
}

h1 {
    font-size: 1.5em;
    animation: article-load 300ms ease-in var(--article-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

p {
    animation: article-load 300ms ease-in calc(var(--article-load-delay) + 200ms); /* spacja pomiędzy + a czasem jest WAŻNA */
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}



@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }
    90%{
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes nav-first-link-load {
    0% {
        transform: translateX(-1000%);
    }
    90%{
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes nav-last-link-load {
    0% {
        transform: translateX(1000%);
    }
    90%{
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes article-load {   /* Efekt zaczyna się lekko ponad wysokość tekstu h1 od kompletnie przeźroczystego do nieprzeźroczystego */
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}